.customerheader {
  background-image: linear-gradient(
    rgb(248, 242, 242),
    rgb(255, 255, 255),
    rgb(208 255 10 / 57%)
  );
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
}

.customercontainer {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  text-align: left;
  padding: 10px 30px;
  width: 80%;
  margin-left: 10%;
  /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/020/434/803/small/floral-rectangle-frame-hand-drawn-line-border-leaves-and-flowers-wedding-invitation-and-cards-logo-design-and-posters-template-elegant-minimal-style-floral-isolated-vector.jpg); */
  /* background-image: url(../../assets//Untitled-1.png); */
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 10px 0px;
  margin-top: 40px;
  line-height: 40px;
  font-size: 20px;
  color: rgb(139, 136, 141);
}

.detailsofuser {
  width: 70%;
  /* margin-left: 26%; */

}

.deletecustomer {
  width: 30%;
  /* margin-right: 25%; */

  /* background-color: aqua; */
}

.deletecusbtn {
  background-color: white;
  border: 2px solid rgba(43, 44, 44, 0.849);
  color: rgb(4, 116, 13);
  border-radius: 10px 10px;
  margin-top: 10px;
  font-size: 15px;
}

.customerlist {
  margin-bottom: 40px;
}

.customernavbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 10px 10px;
  margin-right: 60px;
  border: 2px solid rgba(4, 219, 101, 0.849);
  text-decoration: none;
}


@media only screen and (max-width: 576px) {
  .customercontainer {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    justify-content: center;
    text-align: left;
    padding: 10px 30px;
    width: 90%;
    margin-left: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid grey;
  background-image: none;
    border-radius: 10px 0px;
    margin-top: 40px;
    line-height: 40px;
    font-size: 17px;
    color: rgb(139, 136, 141);
  }

  .detailsofuser {
    width: 70%;
    margin-left: 0px;
  }

  .deletecustomer {
    width: 30%;
    margin-right: 0px;
  
    /* background-color: aqua; */
  }

  .deletecusbtn {
    width: 80%;
    background-color: white;
    border: 2px solid rgba(43, 44, 44, 0.849);
    color: rgb(4, 116, 13);
    border-radius: 10px 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  .customernavbtn {
    width: 30%;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 10px 10px;
    margin-right: 0px;
    border: 2px solid rgba(4, 219, 101, 0.849);
  }

  .customerheader {
    background-image: linear-gradient(
      rgb(248, 242, 242),
      rgb(255, 255, 255),
      rgb(208 255 10 / 57%)
    );
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
}